* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Prompt', sans-serif;
    /* outline: 1px solid limegreen !important; */
}

body {
    background-color: rgb(237, 238, 255);
    font-size: 14px;
}

h3 {
    font-size: 35px;
}

form {
    border: 1px rgb(0, 0, 0) solid;
    background-color: rgb(192, 220, 255);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    gap: 15px;
    padding: 20px;
    max-width: 345px;
}

.field {
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: relative;
}

.autocomplete_list {
    position: absolute;
    right: 0;
    top: 30px;
    z-index: 1;
    width: 180px;
    list-style-type: none;
}

.autocomplete_list button {
    width: 180px;
    text-align: left;
    padding: 3px;
    cursor: pointer;
}

.autocomplete_list button:hover {
    border-color: dodgerblue;
    background-color: #ffffff;
}

.autocomplete_list button:focus {
    outline: solid 2px dodgerblue;
    outline-offset: -2px;
    padding: 5px;
    border: dodgerblue;
    background-color: #ffffff;
}

.form_container {
    border: 2px rgb(0, 0, 0) solid;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px;
}

.form_container .add_note {
    padding: 3px;
    cursor: pointer;
}
.form_container .add_note:hover {
    filter: brightness(90%);
}

label {
    width: 100px;
    font-weight: bold;
    align-self: center;
}

input {
    width: 180px;
    padding: 3px;
}

textarea {
    resize: vertical;
    vertical-align: middle;
    width: 180px;
    padding: 3px;
}

.opinion_section {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    padding: 50px;
    align-items: flex-start; /* prevents flex children stretching to fit div */
}

.opinion_container {
    position: relative;
    border: rgb(0, 0, 0) 1px solid;
    border-top: none;
    border-radius: 0 0 5px 5px;
    background-color: #fdecda;
    max-width: 300px;
    padding: 35px 15px 15px 15px;
    gap: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.opinion_container div {
    word-wrap: break-word;
    word-break: break-word;
}

.opinion_container button {
    background-color: #f68b8b;
    height: 28px;
    padding: 3px;
    font-weight: bold;
    border: 1px dashed black;
    border-radius: 3px;
    justify-self: center;
    width: min-content;
    grid-column: 1 / 3;
    cursor: pointer;
}

.opinion_container button:hover {
    filter: brightness(120%);
}

.opinion_container .note_top_strip {
    position: absolute;
    height: 25px;
    width: calc(100% + 2px);
    /* to account for transform: translate adjustment */
    background-color: rgb(98, 98, 98);
    border: black 1px solid;
    left: 0;
    top: 0;
    transform: translate(-1px, -1px);
}